*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.header-container{
	display: flex;
	justify-content: space-between;
    width: 100%;
    background-color: rgb(42, 118, 148);
    color: aliceblue;
    padding: 35px 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 10;
}

header h1{
    font-weight: 600;
    font-size: 36px;
    font-family: 'Luckiest Guy';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    text-transform: uppercase;
    text-shadow: -2px 5px 20px #2b2b2c;
    color: white;
    letter-spacing: -0.05em;
    user-select: none;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
    letter-spacing: 1px;
}

header h1:hover {
    text-shadow: -16px 6px 15px #2b2b2c;
}

.container{
    width: 98%;
    height: 100vh;
    margin: 25px auto 0;
    padding: 20px 0px;
    text-align: center;  
    z-index: 15;
    background-color: rgba(240, 248, 255, 0.75);
}

.container h2,h3{
    padding: 20px 0;
}

.alreadybooked-container h2>span{
	font-size: 38px;
	font-weight: 700;
}

.alreadybooked-container{
    width: 45%;
    margin: 0 auto;
    padding: 40px 0;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.alreadybooked-container img{
    height: 300px;
}

.alreadybooked-container h2{
    font-size: 28px;
	font-weight: 400;
} 

.alreadybooked-container h6{
    padding-bottom: 50px;
    font-weight: 300;
    font-size: 16px;
    
}

.button:hover{
    border: 2px solid rgb(42, 118, 148);
    background-color: aliceblue;
    color: rgb(42, 118, 148);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 15px 30px;
    outline: 1px solid rgb(137, 156, 163);
    color: white;
    background-color: rgb(42, 118, 148);
    border-radius: 35px;
    margin: 10px;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(0, 0, 0, 0.2) 0px 20px 20px -7px;
}

a:hover{
    border: 1px solid rgb(42, 118, 148);
    background-color: aliceblue;
    color: rgb(42, 118, 148);
    cursor: pointer;
    
}

a:active{
    font-size: 18px;
    box-shadow: none;
}