*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.header-container{
    width: 100%;
    background-color: rgb(42, 118, 148);
    color: aliceblue;
    padding: 35px 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: fixed;
    z-index: 10;
}

header h1{
    font-weight: 600;
    font-size: 36px;
    font-family: 'Luckiest Guy';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    text-transform: uppercase;
    text-shadow: -2px 5px 20px #2b2b2c;
    color: white;
    letter-spacing: -0.05em;
    user-select: none;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
    letter-spacing: 1px;
}

header h1:hover {
    text-shadow: -16px 6px 15px #2b2b2c;
}

body h2{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 175px;
    font-size: 28px;
    font-weight: 300;
    background-color: rgb(245, 249, 250);
}

.card-wrapper{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(245, 249, 250);
}

.card{
    margin-top: 20px;
    margin-bottom: 50px;
    width: calc((100% - 120px) / 3);
    height: 650px;
    object-fit: contain;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 500ms;
    z-index: 5;
}

.card:hover{
    transform: translateY(-50px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card img{
    width: 90%;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.card-contents{
    background-color: white;
}

.card-contents h4{
    margin: 20px 0 20px;
    font-weight: 300;
    font-size: 16px;
}

.card-contents h6{
    font-size: 18px;
    font-weight: 500;
    padding: 40px 0;
}

.card h3{
    padding: 30px 20px;
    margin: 40px 0 0;
    font-size: 34px;
    font-weight: 400;
    background-color: rgba(240, 248, 255, 0.75);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.card h5{
    padding: 40px 0 0;
    font-size: 34px;
    color: black;
}

h5 > span{
    display: block;
    color: rgb(91, 107, 121);
    font-size: 28px;
}

.button{
    width: 200px;
    margin: 0 auto;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgb(137, 156, 163);
    background-color: rgb(42, 118, 148);
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 20px -7px;
}

.button:hover{
    border: 2px solid rgb(42, 118, 148);
    background-color: aliceblue;
    color: rgb(42, 118, 148);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

.button:active{
    transform: translateY(5px);
    box-shadow: none;
}