*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.header-container{
	display: flex;
	justify-content: space-between;
    width: 100%;
    background-color: rgb(42, 118, 148);
    color: aliceblue;
    padding: 35px 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 10;
}

header h1{
    font-weight: 600;
    font-size: 36px;
    font-family: 'Luckiest Guy';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    text-transform: uppercase;
    text-shadow: -2px 5px 20px #2b2b2c;
    color: white;
    letter-spacing: -0.05em;
    user-select: none;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
    letter-spacing: 1px;
}

body{
    background-color: rgb(245, 249, 250);
}

header h1:hover {
    text-shadow: -16px 6px 15px #2b2b2c;
}

.container{
    width: 98%;
    margin: 25px auto 0;
    padding: 20px 0px;
    text-align: center;  
    z-index: 15;
    background: linear-gradient(rgba(240, 248, 255, 0.5), rgba(240, 248, 255, 0.5)), url(data:image/jpg;base64,${room.image});
    background-size: cover;
}

.form-container{
    width: 45%;
    margin: 0 auto;
    padding: 40px 0;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.form-container img{
    height: 300px;
}

.form-container h2{
    padding: 20px;
    font-weight: 400;
    font-size: 34px;
}

.form-container h4{
    padding-top: 20px;
}

.form-container h4>a{
    font-size: 24px;
}

/* a:hover{
    text-shadow: 0px 6px 15px #8fa6c5;
    
} */

.form-fields{
    display: flex;
    column-gap: 45px;
    width: 74%;
    margin: 0 auto;
    padding: 15px;
    font-size: 20px;
}

.form-fields label{
    align-self: center;
    font-weight: 500;
}

.form-fields input{
    width: 350px;
    height: 50px;
    border: 2px solid rgb(42, 118, 148);
    border-radius: 5px;
    font-size: 20px;
    transform: 500ms;
    padding-left: 20px;
}

.form-fields input:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.form-fields input:focus{
    transform: scale(110%);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.form-fields input:focus:invalid{
    border: 2px solid rgb(163, 50, 50);
}

.form-fields input:focus:valid{
    border: 2px solid rgb(42, 118, 148);
}

.button{
    width: 150px;
    margin: 40px auto;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgb(137, 156, 163);
    background-color: rgb(42, 118, 148);
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 20px -7px;
}

.button:hover{
    border: 2px solid rgb(42, 118, 148);
    background-color: aliceblue;
    color: rgb(42, 118, 148);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 15px 30px;
    outline: 1px solid rgb(137, 156, 163);
    color: white;
    background-color: rgb(42, 118, 148);
    border-radius: 35px;
    margin: 10px;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(0, 0, 0, 0.2) 0px 20px 20px -7px;
}

a:hover{
    border: 1px solid rgb(42, 118, 148);
    background-color: aliceblue;
    color: rgb(42, 118, 148);
    cursor: pointer;
}

a:active{
    font-size: 18px;
    box-shadow: none;
}

.button:active{
    transform: translateY(5px);
    box-shadow: none;
}

textarea:focus, input:focus{
    outline: none;
}

#background-animation-loop{
    opacity: 0.5;
}