*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

#payment{
	display:block;
}
#success{
	display:none;
}

.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(42, 118, 148);
    color: aliceblue;
    padding: 35px 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    z-index: 10;
}

header h1{
    font-weight: 600;
    font-size: 36px;
    font-family: 'Luckiest Guy';
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    text-transform: uppercase;
    text-shadow: -2px 5px 20px #2b2b2c;
    color: white;
    letter-spacing: -0.05em;
    user-select: none;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
    letter-spacing: 1px;
}

header h1:hover {
    text-shadow: -16px 6px 15px #2b2b2c;
}

.container{
    width: 98%;
    height: 100vh;
    margin: 25px auto 0;
    padding: 20px 0px;
    text-align: center;  
    z-index: 15;
    background-color: rgba(240, 248, 255, 0.75);
}

.container h2,h3{
    padding: 20px 0;
}

.payment-container{
    width: 45%;
    margin: 0 auto;
    padding: 40px 0;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.payment-container img{
    height: 300px;
    padding: 30px 0px;
}

.payment-container img:last-child{
    height: 120px;
}

.payment-container h2{
    font-weight: 500;
    font-size: 34px;
}

.payment-container h6{
    font-weight: 300;
    font-size: 16px;
}

.button{
    display: block;
    width: 100px;
    margin: 40px auto;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgb(137, 156, 163);
    background-color: rgb(42, 118, 148);
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 20px -7px;
}

.button:hover{
    border: 2px solid rgb(42, 118, 148);
    background-color: aliceblue;
    color: rgb(42, 118, 148);
    cursor: pointer;
}

.button:active{
    transform: translateY(5px);
    box-shadow: none;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 15px 30px;
    outline: 1px solid rgb(137, 156, 163);
    color: white;
    background-color: rgb(42, 118, 148);
    border-radius: 35px;
    margin: 10px;
    font-weight: 400;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(0, 0, 0, 0.2) 0px 20px 20px -7px;
}

a:hover{
    border: 1px solid rgb(42, 118, 148);
    background-color: aliceblue;
    color: rgb(42, 118, 148);
    cursor: pointer;
}

a:active{
    font-size: 18px;
    box-shadow: none;
}

#payment-failed-modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1000;
    width: 45%;
    margin: 0 auto;
    padding: 40px 0 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

#payment-failed-modal h4{
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 0px;
}

#payment-failed-modal h6{
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}

#payment-failed-modal img{
    width: 100px;
}

#overlay{
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 17;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}